section.home
    .container.wrap
        .home__body Пружины подвески нашего производства обеспечат кузову нужную высоту, оградят транспортное средство от неровностей дороги, улучшат его комфорт и грузоподъёмность.

