section.catalog
    .container
        .row
            .col-lg-3.col-md-4.col-sm-6.col-12
                .catalog__item
                    .catalog__pic
                        img(src="img/item01.jpg", alt="item")
                    .catalog__body
                        .catalog__position
                            p Пружина подвески пер. (комплект)
                            p МОДЕЛЬ: 2101
                        .catalog__position
                            p ПРИМЕНЕНИЕ: 
                            p 2101-2107
                        .catalog__position
                            p РАЗМЕР УПАКОВКИ: 
                            p 425х120 мм
            .col-lg-3.col-md-4.col-sm-6.col-12
                .catalog__item
                    .catalog__pic
                        img(src="img/item01.jpg", alt="item")
                    .catalog__body
                        .catalog__position
                            p Пружина подвески пер. (комплект)
                            p МОДЕЛЬ: 2101
                        .catalog__position
                            p ПРИМЕНЕНИЕ: 
                            p 2101-2107
                        .catalog__position
                            p РАЗМЕР УПАКОВКИ: 
                            p 425х120 мм

            .col-lg-3.col-md-4.col-sm-6.col-12
                .catalog__item
                    .catalog__pic
                        img(src="img/item01.jpg", alt="item")
                    .catalog__body
                        .catalog__position
                            p Пружина подвески пер. (комплект)
                            p МОДЕЛЬ: 2101
                        .catalog__position
                            p ПРИМЕНЕНИЕ: 
                            p 2101-2107
                        .catalog__position
                            p РАЗМЕР УПАКОВКИ: 
                            p 425х120 мм
            .col-lg-3.col-md-4.col-sm-6.col-12
                .catalog__item
                    .catalog__pic
                        img(src="img/item01.jpg", alt="item")
                    .catalog__body
                        .catalog__position
                            p Пружина подвески пер. (комплект)
                            p МОДЕЛЬ: 2101
                        .catalog__position
                            p ПРИМЕНЕНИЕ: 
                            p 2101-2107
                        .catalog__position
                            p РАЗМЕР УПАКОВКИ: 
                            p 425х120 мм
            .col-lg-3.col-md-4.col-sm-6.col-12
                .catalog__item
                    .catalog__pic
                        img(src="img/item01.jpg", alt="item")
                    .catalog__body
                        .catalog__position
                            p Пружина подвески пер. (комплект)
                            p МОДЕЛЬ: 2101
                        .catalog__position
                            p ПРИМЕНЕНИЕ: 
                            p 2101-2107
                        .catalog__position
                            p РАЗМЕР УПАКОВКИ: 
                            p 425х120 мм


