header.header
	.wrap.container
		.logo
			div КиВ
			div ОРЕЛ
		.header__bottom
			h1
				.header__title Каталог
				.header__word пружин
				.header__text собственного производства
			.row.list__items
				.col-lg-4
					.list__item
						.list__icon
							svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 9.41 9.39')
								g
									g
										path.cls-1(d='M9.2,7.43,7.75,6A.77.77,0,0,0,6.68,6L6,6.73,5.8,6.65A7.48,7.48,0,0,1,4,5.37,7.48,7.48,0,0,1,2.76,3.61s0-.1-.07-.14L3.18,3l.24-.25a.75.75,0,0,0,0-1.06L2,.21A.75.75,0,0,0,.92.23L.51.64h0a2.52,2.52,0,0,0-.34.6,2.4,2.4,0,0,0-.15.6c-.19,1.59.53,3.05,2.51,5,2.73,2.73,4.92,2.52,5,2.51a2.11,2.11,0,0,0,.6-.15,2.49,2.49,0,0,0,.6-.33h0l.41-.4a.76.76,0,0,0,0-1.07Z')
						a(href="tel:+79066630514").header__text +7-906-663-05-14
				.col-lg-4
					.list__item
						.list__icon
							svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10.2 8.01')
								g
									g
										path.cls-1(d='M1,2.47l1.16.81,1.5,1,.24.17.3.22.3.18a2.45,2.45,0,0,0,.33.16,1,1,0,0,0,.28,0h0a1,1,0,0,0,.29,0,2.45,2.45,0,0,0,.33-.16L6,4.71l.31-.22.24-.17L9.22,2.47a2.74,2.74,0,0,0,.7-.7A1.54,1.54,0,0,0,10.2.91.87.87,0,0,0,9.93.27.89.89,0,0,0,9.29,0H.91A.79.79,0,0,0,.24.3,1.12,1.12,0,0,0,0,1a1.32,1.32,0,0,0,.31.77A2.78,2.78,0,0,0,1,2.47Z')
										path.cls-1(d='M9.63,3.08c-1.25.84-2.19,1.49-2.84,2-.21.16-.39.28-.52.37a4.38,4.38,0,0,1-.54.28,1.67,1.67,0,0,1-.63.14h0a1.67,1.67,0,0,1-.62-.14,3.28,3.28,0,0,1-.54-.28L3.4,5C2.89,4.67,2,4,.57,3.08A3.41,3.41,0,0,1,0,2.58V7.1a.85.85,0,0,0,.27.64A.87.87,0,0,0,.91,8H9.29a.87.87,0,0,0,.64-.27.85.85,0,0,0,.27-.64V2.58a3.41,3.41,0,0,1-.57.5Z')
						a(href="mailto:i.klejmenov@mail.ru").header__text i.klejmenov@mail.ru
				.col-lg-4.flex-fill
					.list__item
						.list__icon 
							svg.icon(xmlns='http://www.w3.org/2000/svg', enable-background='new 0 0 512 512', viewBox='0 0 512 512')
								g
									path(d='m407.579 87.677c-31.073-53.624-86.265-86.385-147.64-87.637-2.62-.054-5.257-.054-7.878 0-61.374 1.252-116.566 34.013-147.64 87.637-31.762 54.812-32.631 120.652-2.325 176.123l126.963 232.387c.057.103.114.206.173.308 5.586 9.709 15.593 15.505 26.77 15.505 11.176 0 21.183-5.797 26.768-15.505.059-.102.116-.205.173-.308l126.963-232.387c30.304-55.471 29.435-121.311-2.327-176.123zm-151.579 144.323c-39.701 0-72-32.299-72-72s32.299-72 72-72 72 32.299 72 72-32.298 72-72 72z')
						.header__text г. Орёл, ул Московское шоссе 137
