#modalQuiz.modal.disabled
    .modal__wrap    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body.quiz
            .quiz__discount
                .quiz__discount-text Ваша <br> скидка:
                .quiz__discount-price
                    .quiz__discount-plus 
                        span +500 
                        | руб.
                    .quiz__discount-total
                        span#total 0 
                        | руб.
                    .arrows.quiz__discount__arrows
                        svg.arrow(width='10', height='10', viewBox='0 0 10 10', fill='none')
                            path(d='M5 3.70904e-07L0.757355 4.24265L2.17157 5.65686L5 2.82843L7.82843 5.65686L9.24265 4.24265L5 3.70904e-07Z', fill='#615333')
                            path(d='M5 4L0.757355 8.24265L2.17157 9.65686L5 6.82843L7.82843 9.65686L9.24265 8.24265L5 4Z', fill='#615333')
            .quiz-sidebar
                .quiz-sidebar__title Ответьте за 10 простых вопросов и узнайте 
                .quiz-sidebar__subtitle как мы сможем увеличить ваши продажи на первой неделе работы квиз сайта
            form(class="quizForm", name="quiz")
                // Hidden Required Fields
                input(type='hidden', name='project_name', value='Azbuka digital')
                input(type='hidden', name='admin_email', value='Nn-diamond@ya.ru, Info@azbuka.digital')
                input(type='hidden', name='form_subject', value='Квиз')
                // END Hidden Required Fields
                input(type='hidden', name='info', value='Квиз')
                input.utm_source.hidden(type='hidden', name='utm_source')
                input.utm_medium.hidden(type='hidden', name='utm_medium')
                input.utm_campaign.hidden(type='hidden', name='utm_campaign')
                input.utm_term.hidden(type='hidden', name='utm_term')
                input.utm_content.hidden(type='hidden', name='utm_content')
                .step-slide.step-slide--active.step-slide--first
                    .step-slide__title Для начала, выберите <br> 2 подарка из 4:
                    .step-slide__subtitle Можно выбрать несколько
                    .quiz__ans.question__ans--checkbox
                        label.pick-item
                            .label-img
                                img(src="img/qa1-1.png", alt="quiz")
                            input.pick-item__input(type='checkbox', name='question1-1', value='Скидка 500 рублей на рекламу в соцсетях')
                            .pick-item__label 
                                span Скидка 
                                br
                                span 500 рублей 
                                br 
                                | на рекламу 
                                br
                                | в соцсетях
                        label.pick-item
                            .label-img
                                img(src="img/qa1-2.png", alt="quiz")
                            input.pick-item__input(type='checkbox', name='question1-2', value='Аудит спросана ваш продукт в интернете')
                            .pick-item__label 
                                span Аудит спроса
                                br
                                | на ваш продукт
                                br
                                | в интернете
                        label.pick-item
                            .label-img
                                img(src="img/qa1-3.png", alt="quiz")
                            input.pick-item__input(type='checkbox', name='question1-3', value='Чек-лист для настройки Яндекс Директ')
                            .pick-item__label 
                                span Чек-лист 
                                br
                                | для настройки
                                br
                                | Яндекс Директ
                        label.pick-item
                            .label-img
                                img(src="img/qa1-4.png", alt="quiz")
                            input.pick-item__input(type='checkbox', name='question1-4', value='Чек-лист для оформления Вконтакте')
                            .pick-item__label 
                                span Чек-лист
                                br
                                | для оформления
                                br
                                | Вконтакте
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 0%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:0%")
                        .prev-next-container
                            .quiz__error
                            //- a.btn.btn-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Какая у Вас сфера деятельности?
                    .quiz__ans.question__ans--radio
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Услуги')
                            .pick-item__label Услуги
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Оптовые продажи ')
                            .pick-item__label Оптовые продажи
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Розничные продажи')
                            .pick-item__label Розничные продажи
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Недвижимость')
                            .pick-item__label Недвижимость
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Строительство')
                            .pick-item__label Строительство
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Товарный бизнес')
                            .pick-item__label Товарный бизнес
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='Ресторанный бизнес')
                            .pick-item__label Ресторанный бизнес
                        label.pick-item
                            input.pick-item__input(type='radio', name='question2', value='другое')
                            .pick-item__label другое
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 10%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:10%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Какой Ваш текущий статус?
                    .quiz__ans.question__ans--radio
                        label.pick-item
                            input.pick-item__input(type='radio', name='question3', value='Уже имею бизнес')
                            .pick-item__label Уже имею бизнес
                        label.pick-item
                            input.pick-item__input(type='radio', name='question3', value='Начинающий предприниматель')
                            .pick-item__label Начинающий предприниматель
                        label.pick-item
                            input.pick-item__input(type='radio', name='question3', value='Хочу начать свой бизнес')
                            .pick-item__label Хочу начать свой бизнес
                        label.pick-item
                            input.pick-item__input(type='radio', name='question3', value='Работаю в компании')
                            .pick-item__label Работаю в компании
                        label.pick-item
                            input.pick-item__input(type='radio', name='question3', value='Маркетолог')
                            .pick-item__label Маркетолог
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 20%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:20%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#') 
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Какой бюджет на рекламу <br> Вы сможете выделить?
                    .quiz__ans.question__ans--radio
                        label.pick-item
                            input.pick-item__input(type='radio', name='question4', value='от 20 000 до 50 000 рублей')
                            .pick-item__label от 20 000 до 50 000 рублей
                        label.pick-item
                            input.pick-item__input(type='radio', name='question4', value='от 50 000 рублей 100 000 рублей')
                            .pick-item__label от 50 000 рублей 100 000 рублей
                        label.pick-item
                            input.pick-item__input(type='radio', name='question4', value='От 100 000 до 200 000 рублей')
                            .pick-item__label От 100 000 до 200 000 рублей
                        label.pick-item
                            input.pick-item__input(type='radio', name='question4', value='Больше 200 000 рублей')
                            .pick-item__label Больше 200 000 рублей
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 30%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:30%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#') 
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide.step-slide--text
                    .step-slide__title На какой регион, область <br> или город работаете?
                    .quiz__ans.quiz__ans--text
                        label.pick-item.pick-item--text
                            input(type='text', name='question5', placeholder='Например: москва')
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 40%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:40%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Есть ли у Вас действующий сайт?
                    .quiz__ans.question__ans--radio
                        label.pick-item
                            input.pick-item__input(type='radio', name='question6', value='Да')
                            .pick-item__label Да
                        label.pick-item
                            input.pick-item__input(type='radio', name='question6', value='Нет')
                            .pick-item__label Нет
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 50%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:50%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Идёт ли у Вас реклама на сайт?
                    .quiz__ans.question__ans--checkbox
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-1', value='Рекламы нет')
                            .pick-item__label Рекламы нет
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-2', value='Контекстная реклама  (Яндекс/Google)')
                            .pick-item__label Контекстная реклама <br> (Яндекс/Google)
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-3', value='SEO')
                            .pick-item__label SEO
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-4', value='Реклама через  социальные сети')
                            .pick-item__label Реклама через <br> социальные сети
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-5', value='Заходят на сайт через  наружную рекламу')
                            .pick-item__label Заходят на сайт через <br> наружную рекламу
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-6', value='Как то заходят,  не знаю откуда')
                            .pick-item__label Как то заходят, <br> не знаю откуда
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question7-7', value='Затрудняюсь ответить')
                            .pick-item__label Затрудняюсь ответить
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 60%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:60%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Для чего Вы к нам обратились?
                    .quiz__ans.question__ans--radio
                        label.pick-item
                            input.pick-item__input(type='radio', name='question8', value='Нужно больше заявок')
                            .pick-item__label Нужно больше заявок
                        label.pick-item
                            input.pick-item__input(type='radio', name='question8', value='Хочу внедрить/улучшить  интернет-маркетинг в компании')
                            .pick-item__label Хочу внедрить/улучшить  интернет-маркетинг в компании
                        label.pick-item
                            input.pick-item__input(type='radio', name='question8', value='Необходимо протестировать  нишу')
                            .pick-item__label Необходимо протестировать  нишу
                        label.pick-item
                            input.pick-item__input(type='radio', name='question8', value='Нужна консультация эксперта ')
                            .pick-item__label Нужна консультация эксперта 
                        label.pick-item
                            input.pick-item__input(type='radio', name='question8', value='другое')
                            .pick-item__label другое
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 70%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:70%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#') 
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Как срочно Вы готовы запустить <br> проект и получать заявки?
                    .quiz__ans.question__ans--radio
                        label.pick-item
                            input.pick-item__input(type='radio', name='question9', value='Готов заключить с Вами договор  сегодня, если договоримся')
                            .pick-item__label Готов заключить с Вами договор <br> сегодня, если договоримся
                        label.pick-item
                            input.pick-item__input(type='radio', name='question9', value='Никуда не тороплюсь,  рассматриваю разные варианты')
                            .pick-item__label Никуда не тороплюсь, <br> рассматриваю разные варианты
                        label.pick-item
                            input.pick-item__input(type='radio', name='question9', value='Хотелось бы запустить проект  как можно быстрее')
                            .pick-item__label Хотелось бы запустить проект <br> как можно быстрее
                        label.pick-item
                            input.pick-item__input(type='radio', name='question9', value='Необходимо протестировать нишу')
                            .pick-item__label Необходимо протестировать нишу
                        label.pick-item
                            input.pick-item__input(type='radio', name='question9', value='Пока выбираю каналы продаж  и сравниваю подрядчиков')
                            .pick-item__label Пока выбираю каналы продаж <br> и сравниваю подрядчиков
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 80%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:80%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide
                    .step-slide__title Вас интересует что-то, кроме <br> разработки сайта?
                    .quiz__ans.question__ans--checkbox
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-1', value='нет')
                            .pick-item__label нет
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-2', value='Маркетинговая проработка  проекта')
                            .pick-item__label Маркетинговая проработка <br> проекта
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-3', value='Фирменный стиль и упаковка')
                            .pick-item__label Фирменный стиль и упаковка
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-4', value='Конверсионный чат-бот')
                            .pick-item__label Конверсионный чат-бот
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-5', value='Внедрение CRM системы')
                            .pick-item__label Внедрение CRM системы
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-6', value='Контекстная реклама  (Яндекс + Google)')
                            .pick-item__label Контекстная реклама <br> (Яндекс + Google)
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-7', value='Интересует весь спектр  интернет-маркетинга')
                            .pick-item__label Интересует весь спектр <br> интернет-маркетинга
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-8', value='Построение отдела продаж')
                            .pick-item__label Построение отдела продаж
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-9', value='Реклама в социальных сетях')
                            .pick-item__label Реклама в социальных сетях
                        label.pick-item
                            input.pick-item__input(type='checkbox', name='question10-10', value='Затрудняюсь ответить')
                            .pick-item__label Затрудняюсь ответить
                    .step-slide__bottom
                        .quiz-progress
                            .quiz-progress__title Готово:
                                span 90%
                            .quiz-progress__steps
                                .quiz-progress__item.active(style="width:90%")
                        .prev-next-container
                            .quiz__error
                            a.btn.btn-prev.qa-prev(href='#')
                            .si-button-pulse
                                a.btn.btn-next.qa-next.qa-del-discount(href='#').blick Далее
                                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                        path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                        C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                        c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
                .step-slide.step-slide--finish
                    .modal__title До рассчёта эффективности <br>
                        | и получения 6 бонусов 
                        span Вас отделяет всего 1 шаг
                    .modal__subtitle Наши маркетологи уже изучают Ваши ответы, чтобы проанализировать <br> эффективность сайта-квиза в Вашем бизнесе. 
                        span Осталось корректно заполнить форму, чтобы получить всю информацию 
                    .finish__body
                        .finish-sidebar
                            .finish-sidebar__item
                                .finish-sidebar__icon
                                    img(src="img/icons/tick.png", alt="tick")
                                .finish-sidebar__name 
                                    span чек-<span class="br-mobile"><br></span>лист
                                    <span class="br-desktop br-planshet"><br></span>
                                    | для директ
                            .finish-sidebar__item
                                .finish-sidebar__icon
                                    img(src="img/icons/loupe.png", alt="loupe")
                                .finish-sidebar__name 
                                    span Аудит 
                                    | вашего
                                    br
                                    | продукта
                            .finish-sidebar__item
                                .finish-sidebar__icon
                                    img(src="img/icons/computer.png", alt="computer")
                                .finish-sidebar__name 
                                    span Аудит 
                                    br
                                    | вашего сайта
                            .finish-sidebar__item
                                .finish-sidebar__icon.finish-sidebar__icon--work
                                    img(src="img/icons/work.png", alt="work")
                                .finish-sidebar__name 
                                    span Кейсы по 
                                    br
                                    | вашей нише
                        .finish-form
                            .form-line
                                label
                                    input(type="text" placeholder="ваш номер телефона" name="phone").rfield.phone-mask
                            .form-line
                                label
                                    input(type="email" placeholder="введите вашу почту" name="email").rfield
                            .form-line-btn
                                .btn.btn-finish(data-modal="#modalFinish").si-button-pulse
                                    .blick
                                        input(type="submit" value="Получить расчет и бонусы").quiz__btn 
                            .agree
                                img(src="img/agree.png", alt="agree")
                                .agree__text Нажимая кнопку «оставить заявку», вы даете согласие на обработку персональных данных и соглашаетесь 
                                    a(href="policy.html" target="_blank").agree__policy с политикой конфиденциальности
                    
